.container{
    background-color: aquamarine;
    display:flex;
    min-height: 200px;
}
.first{
  
    background-color: burlywood;
    flex:1;
    order:2;
}
.second{
    background-color: coral;
    flex:2;
    order:1;
}
.third{
    background-color: darkgoldenrod;
    flex:1;
    order:3;
}
.outer{
    background-color: darkkhaki;
    display:flex;
    min-height:200px;
    justify-content:center;
    align-items:center;
    /* flex-wrap:wrap; */
    /* flex-flow:column; */
    gap:20px;
}
.box{
    background-color: darkolivegreen;
    width:200px;
    height:100px;
    border:1px solid white;
}
.b2{
    /* align-self:flex-end; */
    /* flex-basis:250px; */
    /* flex-shrink:4; */
    flex-grow:3;

}