html{
    background-color:lightgrey;
    text-align: center;
}
p{
    text-align:center;
    font-size: large;

}
h1{
    text-align: center;
    color:darkgreen;
}
h2{
    text-align: center;
    color:darkorange;
}
h3{
    text-align: center;
    color:darkorange;
}